.slot {
  position: absolute;
  left:50%;
  top:50%;
  border: 1px black solid;
  width: 200px;
  height: 3rem;
  overflow: hidden;
}

#startButton{
  position: absolute;
  left: 65%;
  top: 50%;
}

#stopButton{
  position: absolute;
  left: 65%;
  top: 60%;
}

.slot > .wrapper > div {
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
  height: 4rem;
}

.slot.up {
  left:20%;
  top:50%;
}

.slot.left {
  left:20%;
  top:20%;
}

.slot.right {
  left:50%;
  top:20%;
}