.slot {
  border: 1px black solid;
  width: 200px;
  height: 3rem;
}

#startButton{
  position: absolute;
  left: 65%;
  top: 50%;
}

#stopButton{
  position: absolute;
  left: 65%;
  top: 60%;
}

.slot > .wrapper > div {
  font-size: 3rem;
}

.slot.up {
  position: absolute;
  height: 300px;
  left:20%;
  top:50%;
}

.slot.left {
  position: relative;
  left:20%;
  top:20%;
}

.slot.right {
  position: fixed;
  left:50%;
  top:20%;
}